<div class="details"
     *ngIf="abonnement">

  <div class="flex-container header"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <h1 class="flex-item abonnementHeader mat-display-1"
        fxFlex="100%">
      {{ abonnement.name }}
    </h1>
    <button mat-mini-fab
            (click)="onUpgrade()"
            [disabled]="abonnement.status === abonnementStatus.OPGEZEGD"
            class="flex-item"
            mat-tooltip="Upgrade this Service">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-mini-fab
            (click)="onShare()"
            [disabled]="abonnement.status === abonnementStatus.OPGEZEGD"
            class="flex-item"
            mat-tooltip="Share this Service">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-mini-fab
            color="warn"
            [disabled]="abonnement.status === abonnementStatus.OPGEZEGD"
            (click)="onTerminate()"
            class="flex-item"
            mat-tooltip="Terminate subscription">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="body">
    <mat-list>
      <mat-list-item> Pepper</mat-list-item>
      <mat-list-item> Salt</mat-list-item>
      <mat-list-item> Paprika</mat-list-item>
    </mat-list>

  </div>
</div>
